<template>
  <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
    <div class="container mx-auto px-6 py-8">
      <h3 class="text-gray-700 text-3xl font-medium">Dashboard</h3>

      <div class="mt-4">
        <div class="flex flex-wrap -mx-6">
          <div class="w-full px-6 sm:w-1/2 xl:w-1/3">
            <div class="flex items-center px-5 py-6 shadow-sm bg-white">
              <div class="p-3 bg-indigo-600 bg-opacity-75">
                <svg id="Capa_1"
                     viewBox="0 0 220 220" x="0px" xml:space="preserve"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                  <g>
                    <path d="M110,0C49.346,0,0,49.346,0,110s49.346,110,110,110s110-49.346,110-110S170.654,0,110,0z M110,210
                      c-55.14,0-100-44.86-100-100S54.86,10,110,10s100,44.86,100,100S165.14,210,110,210z"/>
                    <path d="M110,19.5c-49.902,0-90.5,40.598-90.5,90.5s40.598,90.5,90.5,90.5s90.5-40.598,90.5-90.5S159.902,19.5,110,19.5z
                       M110,197.5c-48.248,0-87.5-39.252-87.5-87.5S61.752,22.5,110,22.5s87.5,39.252,87.5,87.5S158.248,197.5,110,197.5z"/>
                    <rect height="9.667" width="12" x="121.183" y="50.833"/>
                    <path d="M105.202,143.301c6.023,0,11.57-2.066,15.981-5.519v5.052h12V74.5h-12v22.357c-4.411-3.453-9.958-5.519-15.981-5.519
                      c-14.327,0-25.982,11.655-25.982,25.981C79.22,131.646,90.875,143.301,105.202,143.301z M105.202,101.337
                      c8.812,0,15.981,7.169,15.981,15.981c0,8.813-7.169,15.982-15.981,15.982c-8.813,0-15.982-7.169-15.982-15.982
                      C89.22,108.507,96.389,101.337,105.202,101.337z"/>
                    <rect height="10" width="45.857" x="87.326" y="148.167"/>
                    <rect height="10" width="37" x="108.683" y="62.5"/>
                  </g>
                </svg>
              </div>

              <div class="mx-5">
                <h4 class="text-2xl font-semibold text-gray-700">2.7%</h4>
                <div class="text-gray-500">Dong Vietnamien</div>
              </div>
            </div>
          </div>

          <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 sm:mt-0">
            <div class="flex items-center px-5 py-6 shadow-sm bg-white">
              <div class="p-3 bg-green-600 bg-opacity-75">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M437.02,74.98C388.667,26.628,324.38,0,256,0S123.333,26.628,74.98,74.98C26.628,123.333,0,187.62,0,256    s26.628,132.667,74.98,181.02C123.333,485.372,187.62,512,256,512s132.667-26.628,181.02-74.98    C485.372,388.667,512,324.38,512,256S485.372,123.333,437.02,74.98z M256,491.602c-129.911,0-235.602-105.69-235.602-235.602    S126.089,20.398,256,20.398S491.602,126.089,491.602,256S385.911,491.602,256,491.602z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M256,48.956C141.835,48.956,48.956,141.835,48.956,256S141.835,463.044,256,463.044S463.044,370.165,463.044,256    S370.165,48.956,256,48.956z M256,442.645c-102.917,0-186.645-83.728-186.645-186.645S153.083,69.355,256,69.355    S442.645,153.083,442.645,256S358.917,442.645,256,442.645z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M263.743,239.688v-75.076c22.704,1.211,31.787,11.201,37.235,11.201c5.448,0,8.778-7.265,8.778-11.201    c0-9.989-24.218-17.557-46.015-18.466v-8.778c0-3.028-3.633-5.752-6.963-5.752c-3.936,0-6.963,2.725-6.963,5.752v9.384    c-26.337,1.817-55.096,13.926-55.096,52.069c0,38.749,28.456,47.831,55.096,57.216v88.094    c-37.537-0.908-44.197-24.823-51.463-24.823c-4.541,0-9.081,6.357-9.081,11.201c0,10.898,22.403,32.393,60.546,32.695V374.1    c0,3.027,3.028,5.751,6.963,5.751c3.33,0,6.963-2.724,6.963-5.751v-11.807c30.272-3.936,51.463-22.704,51.463-59.335    C315.206,261.485,288.87,248.771,263.743,239.688z M250.423,235.15c-19.677-6.963-36.629-14.531-36.63-38.144    c0-22.402,17.559-30.575,36.63-32.089V235.15z M262.836,343.527v-82.644c18.163,7.568,32.996,17.557,32.997,43.895    C295.833,327.179,284.026,340.196,262.836,343.527z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M417.218,288.989c-5.437-1.469-11.036,1.754-12.502,7.193c-6.164,22.874-17.796,44.372-33.636,62.168    c-3.745,4.207-3.37,10.654,0.837,14.399c1.944,1.73,4.365,2.58,6.777,2.58c2.81,0,5.607-1.155,7.622-3.419    c17.937-20.152,31.111-44.503,38.095-70.421C425.878,296.052,422.657,290.455,417.218,288.989z"/>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M420.207,245.801c-5.633,0-10.199,4.566-10.199,10.199c0,1.595-0.025,3.206-0.072,4.788    c-0.172,5.63,4.251,10.335,9.882,10.506c0.107,0.004,0.212,0.005,0.318,0.005c5.488,0,10.019-4.363,10.188-9.887    c0.055-1.789,0.083-3.609,0.083-5.412C430.406,250.367,425.84,245.801,420.207,245.801z"/>
                    </g>
                  </g>
                </svg>
              </div>

              <div class="mx-5">
                <h4 class="text-2xl font-semibold text-gray-700">0.817 €</h4>
                <div class="text-gray-500">Dollars Américain</div>
              </div>
            </div>
          </div>

          <div class="w-full mt-6 px-6 sm:w-1/2 xl:w-1/3 xl:mt-0">
            <div class="flex items-center px-5 py-6 shadow-sm bg-white">
              <div class="p-3 bg-pink-600 bg-opacity-75">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M437.019,74.981C388.667,26.628,324.38,0,256,0S123.333,26.628,74.981,74.981C26.629,123.333,0,187.62,0,256    s26.629,132.667,74.981,181.019C123.333,485.372,187.62,512,256,512s132.667-26.628,181.019-74.981    C485.371,388.667,512,324.38,512,256S485.371,123.333,437.019,74.981z M425.683,425.682    C380.358,471.005,320.097,495.967,256,495.967s-124.358-24.962-169.683-70.285C40.994,380.358,16.033,320.097,16.033,256    S40.994,131.642,86.317,86.318C131.642,40.995,191.903,16.033,256,16.033s124.358,24.962,169.683,70.285    c45.323,45.323,70.284,105.584,70.284,169.682S471.006,380.358,425.683,425.682z"/>
                    </g>
                  </g>
                    <g>
                      <g>
                        <path d="M256,42.756C138.416,42.756,42.756,138.416,42.756,256S138.416,469.244,256,469.244S469.244,373.584,469.244,256    S373.584,42.756,256,42.756z M256,453.211c-108.743,0-197.211-88.469-197.211-197.211S147.257,58.789,256,58.789    S453.211,147.258,453.211,256S364.743,453.211,256,453.211z"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M313.509,244.202c11.53-9.315,18.917-23.566,18.917-39.508c0-27.995-22.777-50.772-50.772-50.772h-9.086v-17.637    c0-4.428-3.589-8.017-8.017-8.017s-8.017,3.588-8.017,8.017v17.637h-18.171v-17.637c0-4.428-3.589-8.017-8.017-8.017    s-8.017,3.588-8.017,8.017v17.637h-34.739c-4.427,0-8.017,3.588-8.017,8.017c0,4.428,3.589,8.017,8.017,8.017h9.086v172.092    h-9.086c-4.427,0-8.017,3.588-8.017,8.017c0,4.428,3.589,8.017,8.017,8.017h34.739v17.637c0,4.428,3.589,8.017,8.017,8.017    s8.017-3.588,8.017-8.017v-17.637h18.171v17.637c0,4.428,3.589,8.017,8.017,8.017s8.017-3.588,8.017-8.017v-17.637h17.637    c32.711,0,59.324-26.612,59.324-59.324C349.528,274.312,334.669,253.274,313.509,244.202z M212.71,169.954h68.944    c19.155,0,34.739,15.583,34.739,34.739s-15.584,34.739-34.739,34.739H212.71V169.954z M290.205,342.046H212.71v-86.58h77.495    c23.871,0,43.29,19.42,43.29,43.29S314.075,342.046,290.205,342.046z"/>
                      </g>
                    </g>
                  </svg>
              </div>

              <div class="mx-5">
                <h4 class="text-2xl font-semibold text-gray-700">50 426,77€</h4>
                <div class="text-gray-500">BTC</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">

      </div>

      <div class="flex flex-col mt-8">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
          <div
              class="align-middle inline-block min-w-full shadow overflow-hidden border-b border-gray-200">
            <table class="min-w-full">
              <thead>
              <tr>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Role
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
              </tr>
              </thead>

              <tbody class="bg-white">
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img alt=""
                           class="h-10 w-10"
                           src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80">
                    </div>

                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">John Doe
                      </div>
                      <div class="text-sm leading-5 text-gray-500">john@example.com</div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <div class="text-sm leading-5 text-gray-900">Software Engineer</div>
                  <div class="text-sm leading-5 text-gray-500">Web dev</div>
                </td>

                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                  <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold bg-green-100 text-green-800">Active</span>
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                  Owner
                </td>

                <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                  <a class="text-indigo-600 hover:text-indigo-900" href="#">Edit</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "BankDashboard"
}
</script>

<style scoped>
svg {
  width:32px;
  height:32px;
}
</style>
