<template>
  <!--  Modal Section-->
  <olega-request v-show="showModal" @close="closeModal" v-on:validate="validation" :error="error"/>
  <!--  Modal Background Section-->
  <div v-if="showModal" class="opacity-50 fixed inset-0 z-40 bg-black"/>
  <div class="w-full flex flex-wrap">
    <!-- Login Section -->
    <div class="w-full md:w-1/2 flex flex-col">

      <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
        <a href="#" class="bg-black text-white font-bold text-xl p-4">
          Serious Bank
        </a>
      </div>

      <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
        <p class="text-center text-3xl">
          Bienvenue
        </p>
        <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
          <div class="flex flex-col pt-4">
            <label for="email" class="text-lg">
              Email
            </label>
            <input
              id="email"
              type="email"
              placeholder="client@email.fr"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
              v-model="email"
              :class="emailInputValidClass">
          </div>

          <span v-if="!isEmailValid" class="font-bold text-red-500">
            {{ message }}
          </span>
          <input type="submit" value="Connection" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" @click="openModal">
        </form>
        <div class="text-center pt-12 pb-12">
          <p>
            Pas encore de client ?
            <a href="#" class="underline font-semibold">
              Inscription
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Image Section -->
    <div class="w-1/2 shadow-2xl" v-on:keyup.enter="coucou">
      <img class="object-cover w-full h-screen hidden md:block" src="../assets/innovation.jpg" alt="img">
    </div>
  </div>
</template>

<script>
import OlegaRequest from "@/components/OlegaRequest";

export default {
  name: 'LandingPage',
  components: {
    OlegaRequest
  },
  created() {
    window.addEventListener('keydown', (e) => {
      if (e.key === 'y') {
        this.error = {
          errorState: true,
          errorMessage: 'Authentification réussie',
          errorColor: 'green'
        }
      }

      if (e.key === 'n') {
        this.error = {
          errorState: true,
          errorMessage: 'La connexion n\'a pas pu être vérifiée',
          errorColor: 'red'
        }
      }
    });
  },
  data() {
    return {
      message: 'Format d\'email invalide, veuillez vérifier.',
      email: '',
      showModal: false,
      olegaApproved: false,
      response: {
        status: '',
      },
      error: {
        errorState: false,
        errorMessage: 'msg'
      },
    }
  },
  methods: {
    coucou() {
      console.log('salut');
    },
    closeModal() {
      this.showModal = false;
    },
    async openModal() {
      if (this.email === 'admin@email.fr') {
        this.showModal = true;
        // while (this.showModal) {
        //   await this.request();
        //   if (this.olegaApproved === '') {
        //     await this.openModal();
        //   } else if (this.olegaApproved === true ) {
        //     this.showModal = false;
        //     this.error = {
        //       errorState: false,
        //       errorMessage: 'la connexion n\'a pas pu être vérifiées'
        //     }
        //     this.validation();
        //   }
        // }
        // await this.request();
      }
    },
    async request() {
      console.log('test');
      // GET request using fetch with async/await
      const response = await fetch('127.0.0.1/olega');
      // console.log('abc', await JSON.parse(response));
      // todo error ici
      const ApiResponse = await response.json();
      this.response = ApiResponse.status;
    },
    validation() {
      this.$emit('validation');
    },
  },
  computed: {
    isEmailValid() {
      if (this.email === '' || this.email.length <= 4) return true;
      return (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.email));
    },
    emailInputValidClass() {
      return {
        'border-2': !this.isEmailValid,
        'border-red-500': !this.isEmailValid,
        'focus:border-red-600': !this.isEmailValid,
      };
    }
  }
}
</script>

<style scoped>

</style>
