<template>
  <div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200">
          <h3 class="text-3xl loading">
            <b>OLEGA</b> - Vérification en cours
          </h3>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            Sur votre application <b>olega</b>,
            dessiner votre <i>motif</i> pour accèdez à votre compte.
          </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-between p-6 border-t border-solid border-blueGray-200">
          <button class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" @click="close">
            Annuler
          </button>
          <span v-if="error.errorState" class="font-bold" :class="errorMessageClass"> {{ error.errorMessage }} </span>
<!--          <button class="text-yellow-500 bg-transparent border border-solid border-yellow-500 hover:bg-yellow-500 hover:text-white active:bg-yellow-600 font-bold uppercase text-sm px-6 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" @click="debugValid">-->
<!--            ((test))-->
<!--          </button>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OlegaRequest',
  props: {
    error: {
      type: Object,
      default() {
        return {
          errorState: false,
          errorMessage: 'error!'
        }
      },
    },
  },
  methods: {
    close() {
      this.$emit('close');
    },
    debugValid() {
      this.$emit('validate');
    }
  },
  computed: {
    errorMessageClass() {
      if (this.error.errorColor === 'red') {
        return {
          'text-red-600': true
        }
      }
      else {
        return {
          'text-green-600': true
        }
      }
    }
  }
}
</script>

<style scoped>
.loading {
  margin: 20px;
  font-size: 36px;
  font-family: sans-serif;
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}
</style>
