<template>
  <BankDashboard v-if="olegaAproved"/>
  <landing-page v-if="!olegaAproved" v-on:validation="validated"/>
</template>

<script>
import BankDashboard from '@/components/BankDashboard';
import LandingPage from '@/components/LandingPage';

export default {
  name: 'App',
  components: {
    BankDashboard,
    LandingPage,
  },
  data() {
    return {
      olegaAproved: false,
    }
  },
  created() {
    window.addEventListener('keydown', (e) => {
      if (e.key === 'y') {
        setTimeout(() => {
          this.validated();
        }, 2000);
      }
    });
  },
  methods: {
    validated() {
      this.olegaAproved = true;
    }
  }
}
</script>

<style>
</style>
